{% extends 'base.html.twig' %}

{% block title %}New TrainingProgram{% endblock %}
{% block headTitle %}Ajouter une formation{% endblock %}

{% block body %}

<div id="training">
    {{ include('training_program/_form.html.twig') }}

    <a href="{{ path('app_training_program_index') }}">back to list</a>
</div>
{% endblock %}
