{% extends 'base.html.twig' %}

{% block title %}Hello ForgotPasswordController!{% endblock %}

{% block body %}


<div class="forgot">
    <form action="" method="post">
        <label for="username">Entrez votre nom d'utlisateur</label>
        <input type="text" id="username" name="username" required/>
        <button type="submit"> Envoyer</button>
    </form>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}
</div>
{% endblock %}
